<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mylab.customer.dao.mapper.CustomerMapper">

    <!-- 단일 고객 조회 -->
    <select id="selectCustomer" resultType="customerVO" parameterType="int">
        SELECT * FROM customer WHERE id = #{id}
    </select>

    <!-- 모든 고객 조회 -->
    <select id="selectAllCustomer" resultType="customerVO">
        SELECT * FROM customer
    </select>

    <!-- 고객 추가 -->
    <insert id="insertCustomer" parameterType="customerVO">
        INSERT INTO customer (email, name, age)
        VALUES (#{email}, #{name}, #{age})
    </insert>

</mapper>
